/* CUSTOM STORY STYLE */
.container__circles
  .chart
    height 500px
    border 1px solid black
    margin 1rem 0

  .title
    transform translate(5px, 20px)

.container__histogram
  display flex
  flex-direction row
  .group
    display flex
    flex-direction column-reverse
    .poster
      width 50px
      height 75px
      background-size: contain
